body{
    background-color: #d8d8d8;
    font-family: Arial, Helvetica, sans-serif;
}
.navigationbar{
    position: sticky;
    top: 0;
    border-radius: 27px;
    margin-top: 20px;
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-around !important;
}
.logo{
    font-weight: bold;
    display: flex;
    align-items: center;
}
.logo a{
    color: #00b956;
    text-decoration: none;
}
.services {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
    width: 90%;
    min-height: 36vh;
}
.service-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-card p{
    text-align: center;
}
.logo img{
    margin-right: 10px;
}
#langue{
    margin-left: 13px;
    margin-right: 13px;
}
#langue i{
    margin-right: 5px;
}
.service-card{
    background-color: #e9e9e9;
    width: 20%;
    height: 160px;
    padding: 20px;
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 27px;

}
.left-nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nanigation a{
    margin-left: 30px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.all-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
    width: 95vw;
    min-height: 95vh;
    margin: auto;
    /* margin-top: 20px; */
    background-color: white;
    border-radius: 27px;
}
.slider{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    min-height: 27vh;    min-height: 27vh;    min-height: 27vh;
    background-color: #00b956;
    border-radius: 27px;
}
#slider-items{
    margin: 20px;
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
#slider-items  h1 , h3{
    margin: 0;
    padding: 0;
}
#slider-items  button{
    margin-top: 20px;
    background-color: #881e99;
    color: white;
    border: none;
    padding-top: 10px;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.slider img{
    width: 300px;
}
.win-info{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    width: 90%; 
    min-height: 67vh;
    padding-bottom: 10px;
    border-radius: 17px;
}
.green{
    background-color: #00b956 !important; 
}
.darkwhite{
    background-color: #e9e9e9 !important; 
}
.inwi-color{
    background-color: #952d98 !important;
}
.black-text{
    color: black !important;
}
.white-text{
    color: white !important ;
}
.info-text{
    margin: 20px;
    width: 30vw;
}
.info-content p{
    margin: 0;
}
.app-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.info-content h4{
    margin: 0;
    margin-top: 30px;
    margin-bottom: 10px;
}
.info-content i{
    color: gold;
}
.info-content img{
    width: 100px !important;
    /* margin-top: 30px; */
    margin-left: 10px;
}
.Lets-go a{
    padding-left: 30px;
    padding-top: 5px;
    font-weight: bold;
    padding-bottom: 5px;
    color: white;
    background-color: indigo;
    padding-right: 30px;
    text-decoration: none;
    border-radius: 7px;
    border: none;
}
.Lets-go{
    margin-top: 35px;

}

.win-info img{
    width: 35vw;
}
#only-mobile{
    display: none;
}

/* footrt css */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    margin-top: 20px;
    width: 90%;
    min-height: 300px;
    background-color: rgb(53, 53, 53);
    border-radius: 27px;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.foter-item a {
    margin-top: 10px;
    font-size: 18px;
    color: #e9e9e9;
    text-decoration: none;
}

.foter-item h3 {
    color: #00b956;
}

.foter-item {
    margin: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
footer p{
    color: white;
    font-size: 10px;
    text-align: center;
}
/* end css fotter */
@media screen and (max-width: 800px) {
    .service-card{
        background-color: #e9e9e9;
        width: 100%;
        height: 160px;
        padding: 20px;
        margin-top:20px;
        margin-bottom:20px;
        border-radius: 27px;
    
    }
    .footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }
    .app-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info-content img {
        width: 188px !important;
        margin-top: 5px;
        margin-left: 10px;
    }
    .nanigation{
        position: absolute;
        width: 90%;
        top: 60px;
        display: flex;
        background-color: white;
        flex-direction: column;
        text-decoration: none;
        font-weight: bold;
        color: black;
        padding-bottom:25px;

    }
    .show{
        display: flex !important;
    }
    .hide{
        display: none !important;
    }
    .nanigation a{
        background-color: whitesmoke;
        padding-top: 20px;
        margin: 0;
        padding-left: 10px;
        border-radius: 20px;
        padding-bottom: 20px;
        margin-top: 5px;
    }
    #only-mobile{
        display: block;
        font-size: 29px;
        margin-left: 5px;
    }
    .info-text{
        color: white;
        margin: 20px;
        width: 100vw;
    }
    .info-content img{
        width: 160px !important;
        margin-top: 7px;
    }
    .win-info img{
        width: 80vw;
    }
  }